/* Global styles ============= */

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Hind-Regular', 'Helvetica', 'Arial', 'sans-serif';
    margin: 0px;
    padding: 0px;
}


/* --- Nav bar --- */

#navIcon {}

/* --- Jumbotron / hero --- */

.jumbotron {
    background-image: url(./images/hero-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotron h1 {
    font-size: 2rem;
    font-weight: 500;
}


/* --- Grid section ---*/

#mainWrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.sectionContainer {
    margin-bottom: 20px;
}


/* #mainWrapper * {
    border: red solid 1px;
} */

.aside {
    border-right: rgb(255, 140, 198) solid 2px;
    text-align: left;
    padding-right: 10px;
    width: 100px;
}



/* --- About me ---*/



/* --- My work ---*/



#workAside {}

#workBlocks {
    gap: 10px;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}

#cardTitle {
    background-color: rgba(255, 148, 81, 0.55);
    color: white;
}



/* --- Contact me ---*/

#contact a:hover {
    color: #ff7a7a;
}

#contactEG1 li {
    list-style: none;
    padding-bottom: 5px;
}

/* -- Footer --*/

footer {
    margin-top: 50px;
    text-align: center;
    background-color: black;
    color: rgba(255, 148, 81);
    height: 100px;
}

footer p {
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 30%;
}


/* -- Media queries -- */

/* -- Mobile -- */

@media only screen and (max-width: 425px) {
    .aside {
        border-bottom: rgb(255, 140, 198) solid 2px;
        border-right: none;
        margin-bottom: 15px;
        padding-bottom: 10px;

    }

}

/* -- Tablet --  */

@media only screen and (max-width: 768px) {}